# PostgreSQL
POSTGRES_USER=root
POSTGRES_PASSWORD=meteo123
POSTGRES_DB=meteo
POSTGRES_HOST=pgdatabase
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# Airflow UI user
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_FIRSTNAME=Airflow
AIRFLOW_LASTNAME=Admin
AIRFLOW_EMAIL=admin@example.com

# Airflow / Docker
AIRFLOW_SECRET_KEY=midterm_secret_key

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/project/terraform/keys/my-creds.json
GCP_PROJECT_ID=projectmobile-494518
GCS_BUCKET_NAME=project-mobile-zurich-data-lake-494518
BQ_DATASET_ID=zurich_mobility_warehouse
BQ_CITY_TABLE_ID=mobility_weather_daily
BQ_STATION_TABLE_ID=mobility_weather_daily_by_station